footer {
  padding: 63px 0;
  background-color: #dbdbdb;
}

.footer__wrapper {
  display: flex;
  justify-content: left;
}

.footer__leftContainer {
  width: 256px;
  font-size: 34px;
  font-weight: 600;
  line-height: 45.9px;
  margin-right: 320px;
}

.footer__right {
  display: flex;
  flex-direction: column;
}

.GetInTouch {
  display: flex;
  flex-direction: column;
}

.stayInformed__title {
  font-size: 17px;
  font-weight: 600;
  line-height: 22.95px;

  margin-bottom: 6px;
}

.stayInformed__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 18.9px;
  margin-bottom: 16px;
}

.stayInformed__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  position: relative;

  margin-bottom: 55px;
}

.stayInformed__form::after {
  content: '';
  height: 1px;
  width: 100%;
  background-color: #000;
  position: absolute;
  top: 100%;
}

.stayInformed__formInput {
  margin-left: 8px;
  width: 80%;
  flex-grow: 1;
  padding: 8px;
}

.stayInformed__formButton {
  padding: 8 16px;
  margin-right: 8px;
  margin-left: 8px;
}

.GetInTouch {
  margin-bottom: 40px;
}

.GetInTouch__title {
  font-size: 17px;
  font-weight: 600;
  line-height: 22.95px;

  margin-bottom: 16px;
}

.stayInformed__contactLink {
  margin-bottom: 8px;
}

.follow__title {
  font-size: 17px;
  font-weight: 600;
  line-height: 22.95px;
  margin-bottom: 16px;
}

.follow__icons {
  display: flex;
  column-gap: 24px;
}

.socialIcon:hover {
  opacity: 0.5;
}
