.recommendation {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 135px;
}

.recommendation__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32.4px;
  margin-bottom: 8px;
}

.recommendation__description {
  font-size: 17px;
  font-weight: 600;
  line-height: 20.4px;
  color: #858585;
  margin-bottom: 32px;
}

.recommendation__button {
  background-color: #000000;
  color: #fff;
  padding: 8px;
  border-radius: 32px;
  width: 144px;

  transition: all 0.25s ease;
}

.recommendation__button:hover {
  color: #000;
  background: rgba(000, 000, 000, 0.2);
}
